@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url(./security.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    
}
nav{
    background-color:rgb(178, 32, 90);
    color:whitesmoke;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 0 23px;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 1px 1px 1px yellowgreen;
    
}
ul{
    display: flex;
    margin: 0 23px;
    align-items: center;
   
}
ul li{
    list-style: none;
    margin:0 13px;
    cursor: pointer;
}
ul li:hover{
    color: black;
    
}
table,td,tr,th{
    border: 2px solid whitesmoke;
    border-collapse: collapse;
    padding:5px 13px;
    font-weight: 500;
    

}
.container{
    max-width: 80vw;
    margin:  23px auto;
    color: #fff;
    
}
h1,h2,h3{
    margin: 23px 0;
}
h1{
    text-shadow: 2px 2px 2px orange;
}
.btn{
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.731);
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 25px 0;
    cursor: pointer;
    margin-left: 65px;
    position: relative;
    top: 9px;
}
.btn:hover{
    background-color: rgba(123, 119, 153, 0.838)

}
.locks{
    color:rgba(245, 245, 245, 0.847);
    margin: 0 1px;
}
.btnsm{ 
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px; 
    cursor: pointer;
}
img{
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width:15px;
    height: 13px;
}
#alert{
    display: none;
}

.container1{
    height: 230px;
    width: 230px;
    border: 2px solid rgb(179, 38, 38);
    padding: 25px;
    position: relative;
    bottom: 12px;
    border-radius: 9px;
    background:transparent;
    backdrop-filter:blur(10px);  
    border:1px solid rgba(255,255,255,.5);
    box-shadow: 0 0 10px rgba(0,0,0,.2);

}
input{
    margin-left: 8px;
    margin-top: 7px;
    padding: 10px 8px;
    outline:none;
    width:80%;
    
    border-radius: 40px;
    border:none;
    border: 2px solid rgba(255,255,255,.5);
   
    padding:  4px 10px;
    background: transparent;
    color: lightcyan;

}
input::placeholder{
    color: #fff;
    font-weight: 400;
}
   
   
    
    

